.inventory-items th:last-child,
.inventory-items td:last-child {
  width: 70px;
}

.bill-items th:first-child,
.bill-items td:first-child {
  width: 90px;
}

.bill-items th:last-child,
.bill-items td:last-child {
  width: 70px;
}

.keypad {
  max-width: 400px;

  .row > div {
    padding: 0;
  }

  .btn {
    width: 100%;
    height: 80px;

    &:first-child {
      border-radius: 0;
    }
  }
}
